In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import  MinMaxScaler,StandardScaler,OneHotEncoder,OrdinalEncoder,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn .tree import DecisionTreeRegressor
from sklearn.compose import make_column_transformer
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

In [7]:
data=pd.read_csv(r"C:\Users\LENOVO\Desktop\dsa2\student\Student_Performance.csv")

In [8]:
data.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [9]:
data.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [11]:
data.tail()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [12]:
data.columns

Index(['Hours Studied', 'Previous Scores', 'Extracurricular Activities',
       'Sleep Hours', 'Sample Question Papers Practiced', 'Performance Index'],
      dtype='object')

In [117]:

data[ 'Extracurricular Activities'].unique()

array(['Yes', 'No'], dtype=object)

In [13]:
encoder=OneHotEncoder(handle_unknown="ignore",sparse_output=False)
encoded_data=encoder.fit_transform(data[[ 'Extracurricular Activities']])

In [14]:
encoded_df=pd.DataFrame(encoded_data,columns=encoder.get_feature_names_out(['Extracurricular Activities']))
dataf=pd.concat([data.drop(columns=[ 'Extracurricular Activities']),encoded_df],axis=1)

In [15]:
dataf

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index,Extracurricular Activities_No,Extracurricular Activities_Yes
0,7,99,9,1,91.0,0.0,1.0
1,4,82,4,2,65.0,1.0,0.0
2,8,51,7,2,45.0,0.0,1.0
3,5,52,5,2,36.0,0.0,1.0
4,7,75,8,5,66.0,1.0,0.0
...,...,...,...,...,...,...,...
9995,1,49,4,2,23.0,0.0,1.0
9996,7,64,8,5,58.0,0.0,1.0
9997,6,83,8,5,74.0,0.0,1.0
9998,9,97,7,0,95.0,0.0,1.0
9999,7,74,8,1,64.0,1.0,0.0

In [16]:
dataf['Performance Index'] = dataf.groupby('Performance Index')['Hours Studied'].transform('mean')

In [17]:
dataf['Performance Index']

0       7.931818
1       4.726667
2       4.978378
3       4.855172
4       4.925926
          ...
9995    2.681159
9996    4.993243
9997    5.057471
9998    8.655172
9999    4.951807
Name: Performance Index, Length: 10000, dtype: float64

In [18]:
dataf['Performance Index'] = dataf.groupby('Performance Index')['Sample Question Papers Practiced'].transform('mean')

In [19]:
dataf['Performance Index']

0       5.068182
1       4.793333
2       4.691892
3       4.282759
4       4.716049
          ...
9995    4.376812
9996    4.155405
9997    4.511494
9998    6.068966
9999    4.722892
Name: Performance Index, Length: 10000, dtype: float64

In [20]:
dataf.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
Extracurricular Activities_No       0
Extracurricular Activities_Yes      0
dtype: int64

In [21]:
dataf.columns

Index(['Hours Studied', 'Previous Scores', 'Sleep Hours',
       'Sample Question Papers Practiced', 'Performance Index',
       'Extracurricular Activities_No', 'Extracurricular Activities_Yes'],
      dtype='object')

In [22]:
x=dataf.drop(columns='Performance Index')
y = dataf['Performance Index']

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=48,test_size=0.2)
model=LinearRegression()

model.fit(x_train,y_train)
y_pred = model.predict(x_test)

0.17423906397190658

In [24]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

R-squared: 0.17423906397190658

In [151]:
from sklearn.metrics import mean_squared_error,accuracy_score
accuracy_score=accuracy_score(y_test,y_pred)
print("Accuracy score",accuracy_score)
# Assuming y_pred and y are already defined
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

ValueError: continuous is not supported